@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h2 {
  color: hsl(14deg, 45%, 36%);
  padding-block: 1.4rem;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

li {
  list-style: none;
}

hr {
  color: rgba(167, 165, 165, 0.936);
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: hsl(29deg, 53%, 90%);
  font-family: "Outfit", sans-serif;
}
body .container {
  max-width: 800px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
  margin: 0 auto;
}
body .container .card {
  max-width: 750px;
  margin: 2rem;
}
body .container .card .recipe-img {
  max-width: 750px;
  height: 350px;
  display: inline-block;
}
body .container .card .recipe-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  margin-block: 1.5rem;
}

.recipe-info header h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(24deg, 5%, 18%);
  padding-bottom: 1rem;
}
.recipe-info header p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  padding-bottom: 10px;
  color: hsl(30deg, 10%, 34%);
}
.recipe-info header .prep-info {
  background-color: hsl(330deg, 100%, 98%);
  max-width: 100%;
  margin-block: 1rem;
  border-radius: 10px;
}
.recipe-info header .prep-info h2 {
  color: hsl(332deg, 51%, 32%);
  padding-left: 1rem;
  padding-block: 1rem;
  font-family: "Outfit", sans-serif;
}
.recipe-info header .prep-info .recipe-step {
  padding-inline: 2rem;
}
.recipe-info header .prep-info .recipe-step li {
  padding-bottom: 20px;
  color: grey;
  font-family: "Outfit", sans-serif;
}
.recipe-info header .prep-info .recipe-step li span {
  padding-left: 15px;
  color: hsl(30deg, 10%, 34%);
  font-weight: 900;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
}

main .ingredients .recipe-step {
  padding-inline: 1rem;
}
main .ingredients .recipe-step li {
  padding-bottom: 1rem;
  color: gray;
  padding-left: 1rem;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  list-style-type: none;
}
main .ingredients .recipe-step::marker {
  color: hsl(14deg, 45%, 36%);
}
main .instructions .instruction-info .recipe-step .item {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
main .instructions .instruction-info .recipe-step .item p {
  padding-left: 25px;
  color: hsl(30deg, 10%, 34%);
}
main .instructions .instruction-info .recipe-step .item p span {
  color: hsl(24deg, 5%, 18%);
  font-weight: 700;
}
main .nutrition .nutrition-info {
  color: hsl(30deg, 10%, 34%);
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}
main .nutrition .nutrition-table .item {
  display: flex;
  border-bottom: 1px solid hsl(30deg, 18%, 87%);
}
main .nutrition .nutrition-table .item p {
  padding-block: 1rem;
  padding-left: 30px;
  color: hsl(30deg, 10%, 34%);
}
main .nutrition .nutrition-table > * {
  margin-right: auto;
  color: hsl(14deg, 45%, 36%);
  font-weight: 600;
}
main .nutrition:nth-last-child(3) {
  border-bottom: none;
}/*# sourceMappingURL=index.css.map */