main {
  .ingredients {
    .recipe-step {
      padding-inline: 1rem;
      li {
        padding-bottom: 1rem;
        color: gray;
        padding-left: 1rem;
        font-size: 1rem;
        font-family: $font-family;
        list-style-type: none;
      }
      &::marker {
        color: $nutmeg;
      }
    }
  }
  .instructions {
    h2 {
      @extend h2;
    }
    .instruction-info {
      .recipe-step {
        .item {
          @include flexbox;
          padding-bottom: 1rem;
          p {
            padding-left: 25px;
            color: $Wenge-Brown;
            span {
              color: $Dark-Charcoal;
              font-weight: map-get($map: $font-weight, $key: "bold");
            }
          }
        }
      }
    }
  }
  .nutrition {
    h2 {
      @extend h2;
    }
    .nutrition-info {
      color: $Wenge-Brown;
      font-weight: map-get($map: $font-weight, $key: "regular");
      font-family: $font-family;
      font-size: 18px;
    }
    .nutrition-table {
      .item {
        display: flex;
        border-bottom: 1px solid $Light-Grey;
        p {
          padding-block: 1rem;
          padding-left: 30px;
          color: $Wenge-Brown;
        }
      }
      & > * {
        margin-right: auto;
        color: $nutmeg;
        font-weight: map-get($map: $font-weight, $key: "medium");
      }
    }
    &:nth-last-child(3) {
      border-bottom: none;
    }
  }
}
